@model IEnumerable<yungchingTEST.Models.Yung>

@{
    ViewBag.Title = "待辦事項";
}

<h2>待辦事項</h2>

<p>
    @Html.ActionLink("待辦事項新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            編號
        </th>
        <th>
            標題
        </th>
        <th>
            程度
        </th>
        <th>
            結束日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.fId
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fImportant)
        </td>
        <td>
            @DateTime.Parse(item.fDate.ToString()).ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.fId },new {Class = "btn btn-success"}) |
            @Html.ActionLink("刪除", "Delete", new { id = item.fId }, new { onClick = "return confirm('確定刪除資料')" , Class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
